.employeesSearchBoxContainer {
  display: flex;
  position: relative;
  left: 12px;
  top: 12px;
}

.EmployeesSearchSubmit {
  width: 50px;
  height: 35px;
  border-radius: 10px;
  margin-top: 18px;
  margin-left: 40px;
  background-color: #84e0be;
  border: none;
}

/* .AddEmployees { */
  /* width: 50px; */
  /* height: 35px; */
  /* border-radius: 10px; */
  /* margin-top: 18px; */
  /* margin-left: 10px; */
  /* background-color: #84e0be; */
  /* border: none; */
/* } */

.empSearchIcon {
  position: absolute;
  left: 554px;
  top: 26px;
  color: white;
}

.plusIcon {
  position: absolute;
  margin-right: 22.5%;
  width: 13px;
  left: 110px;
  size: 2;
  top: 25px;
}

.DropDownIcon{
  position: absolute;
  margin-right: 22.5%;
  width: 22px;
  left: 253px;
  /* size: 2; */
  top: 21px;
}

.FilterIcon{
  position: absolute;
  margin-right: 22.5%;
  width: 22px;
  right: 1px;
  /* size: 2; */
  top: 23px;
}

.doticon{
  position: absolute;
  margin-right: 22.5%;
  width: 22px;
  right: -48px;
  /* size: 2; */
  top: 23px;
}

.CrossIcon{
  position: absolute;
  margin-right: 22.5%;
  width: 35px;
  height: 27px;
  right: -110px;
  /* size: 2; */
  top: 20px;
}

.OptionIcon{
  position: absolute;
  margin-right: 22.5%;
  width: 35px;
  height: 27px;
  right: -150px;
  /* size: 2; */
  top: 20px;
}

.Edit_icon{
  position: absolute;
  /* margin-right: 22.5%; */
  /* width: 35px; */
  /* height: 27px; */
  right: 8px;
  /* size: 2; */
  top: 8px;
}

.Pencilcon{
  position: absolute;
  right: 4px;
  top: 3px;
  width: 15px;
}